:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.parent_parent {
  width: 100%;
  height: 100%;
}

.link {
  display: inline-block;
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

#h6-login-signup {
  color: #787586;
}

.inp-p_container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.inp-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 25px;
  background: #242424;
  box-shadow: inset 5px 5px 8px #151515, inset -5px -5px 8px #333333;
  border: solid 2px #242424;
  width: 38vw;
  height: 3.5vh;
  padding: calc((1vh + 1vw) / 2);
}

.inp-label {
  position: absolute;
  margin-bottom: 10vh;
  margin-left: -30vw;
  color: #afafaf;
  opacity: 0.75;
}

.inp[type='text'],
.inp[type='email'] {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  transition: all 0.3s;
}

.inp[type='email']::placeholder {
  font-weight: 700;
  color: #424242;
}

.inp:focus-visible {
  outline: none;
}

.inp:focus-visible .inp-p {
  box-shadow: inset 7px 7px 8px #151515,
    inset -7px -7px 8px #333333;
}

.inp-btn-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.inp-btn {
  border-radius: 15px;
  background: linear-gradient(145deg, #202020, #272727);
  box-shadow: 15px 15px 20px #191919,
    -15px -15px 20px #2f2f2f;
  border: solid 2px #242424;
  width: 20vw;
  height: 4.5vh;
  color: #FAF7FF;
  transition: all 0.1s;
}

.inp-btn-small {
  border-radius: 15px;
  border-radius: 50px;
  background: #212022;
  box-shadow: 5px 5px 10px #181718,
    -5px -5px 10px #2a292c;
  border: solid 2px #242424;
  width: 7vw;
  height: 2.5vh;
  color: #FAF7FF;
  transition: all 0.1s;
}

.inp-btn:active {
  border-radius: 15px;
  background: linear-gradient(145deg, #202020, #272727);
  box-shadow: 9px 9px 18px #191919,
    -9px -9px 18px #2f2f2f;
  transform: scale(0.99);
}

.inp-btn-small:active {
  background: linear-gradient(145deg, #1e1d1f, #232224);
  box-shadow: 5px 5px 10px #1c1b1d,
    -5px -5px 10px #262527;
  transform: scale(0.99);
}

.inp-btn:disabled,
.inp-btn-small:disabled {
  background: linear-gradient(145deg, #2c2c2c, #2b2b2b);
  box-shadow: 15px 15px 20px #191919, -15px -15px 20px #2f2f2f;
  border: none;
  transform: scale(1);

}

.alert {
  border-radius: 9px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 70vw;
  top: 80vh;
  background: linear-gradient(145deg, #1e1d1f, #232224);
  box-shadow: 5px 5px 10px #1c1b1d,
    -5px -5px 10px #262527;
  width: 20vw;
  height: 10vh;
  padding: 1vw;
  animation: show 1s;
}

.timeline {
  margin-top: 1vh;
  border-radius: 10px;
  background: linear-gradient(145deg, #1e1d1f, #403f42);
  box-shadow: 5px 5px 5px #212022, -5px -5px 5px #212022;
  height: 10%;
  width: 100%;
  transition: all 1s linear;
}
.chatContainerBox{
display: flex;
flex-wrap: wrap;
width: 100%;
height: 100%;
}

#chatList{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100vh;
  height: 100vh;
  min-width: 30vw;
  max-width: 50vw;
  width: 30vw;
  border-right: 1px solid #403f42;
  scroll-behavior: smooth;
  z-index: 1;
}
#chatList::-webkit-scrollbar{
  display: none;
}
.userBox-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 2.5vh;
  padding: 5%;
  gap: 10px;
  max-width: 90%;
  min-width: 90%;
  border-bottom:1px solid #646cff;
  border-bottom-left-radius: 20px;
}
.userBox-container.selected{
  border-right: 2px solid #2a292c;
  background-color: #2a292c;
}
.userBox-container .userBox-userName{
  color: #FAF7FF;
}
.messageBox{
  border-radius: 15px;
border: 2px solid #484554;
padding: 2%;
max-width: 80%;
min-width: 40%;
margin-top: 3vh;
margin-bottom: 3vh;
margin-left: 2vw;
margin-right: 2vw;
align-self: flex-start;
cursor: pointer;
}
.messageBox.right{
align-self: flex-end;
}

.messageBox .messageContent{
  overflow-wrap: break-word;
  }

.messageBox .messageTime{
font-size: 0.8em;
}


#chatsContainer{
width: 70vw;
height: 100vh;
max-height: 100vh;
overflow-y: scroll;
display: flex;
background-color: #2a292c;
justify-content: space-between;
flex-direction: column;
align-items: center;
position: absolute;
right: 0;
top: 0;
}
#chatsContainer::-webkit-scrollbar {
  display: none;
}

.messageInputBox {
  width: 65vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 2;
}
.messageInputBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}
.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}
.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fileUploadWrapper label svg {
  height: 18px;
}
.fileUploadWrapper label svg path {
  transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
  stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
  stroke: #fff;
  fill: #3c3c3c;
}
.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 0.8;
}
.tooltip {
  position: absolute;
  top: -40px;
  left: 10px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #202020;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(18, 18, 18, 0.596);
  z-index: 2;
  transition: all 0.3s;
}
#messageInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}


@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
